@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}
.animate-scroll > * {
  flex-shrink: 0; /* prevents cards from shrinking */
}

html, body, #root { @apply overflow-x-hidden; }
* { box-sizing: border-box; }
 picture, iframe, svg { max-width: 100%; height: auto; display: block; }
.max-full { max-width: 100% !important; }

